# -- build artifacts (C engine at repo root) --
*.o
*.d
/smbpann
/evolve
/gentask
/smbpann_ut
/smbpann_ut_asan
/smbpann_ut_ubsan
/nasxover
/nb101
/nb101_extract
/emerge_prove

# -- legacy/java --
legacy/java/build/
legacy/java/*.jar

# -- LaTeX build artifacts (keep .tex and .pdf) --
paper/*.aux
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
validation/nasbench101.txt
/bbtest
/modnas
/modevo
/conv2d
/conv_emerge
/emerge_tie
emerge_local
emerge_offset
scratch_emerge_local.out
emerge_compose
scratch_emerge_compose.out
emerge_arch
scratch_emerge_arch.out
emerge_twoop
scratch_emerge_twoop.out
emerge_staged
scratch_emerge_staged.out
emerge_2d
scratch_emerge_2d.out
emerge_2d_orient
scratch_emerge_2d_orient.out
emerge_2d_chan
scratch_emerge_2d_chan.out
emerge_2d_grow
scratch_emerge_2d_grow.out
emerge_2d_deep
scratch_emerge_2d_deep.out
emerge_2d_deep2
scratch_emerge_2d_deep2.out
emerge_translate
scratch_emerge_translate.out
emerge_2d_compete
scratch_emerge_2d_compete.out
emerge_develop
scratch_emerge_develop.out
emerge_scale
scratch_emerge_scale.out
emerge_baseline
scratch_emerge_baseline.out
scratch_translate_fair.out
scratch_develop_fair.out
scratch_chan_fair.out
scratch_grow_fair.out
scratch_emerge_2d_grow_strong.out
scratch_emerge_offset.out
emerge_minimal
scratch_emerge_minimal.out
scratch_emerge_prove.out
scratch_emerge_prove_scaling.out
scratch_emerge_prove_scaled.out
scratch_prove_sweep.out
emerge_develop2
scratch_emerge_develop2.out
emerge_discover
scratch_emerge_discover.out
